@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: 250 70% 60%;
        --primary-content: 0 0% 100%;
        --primary-dark: 251 70% 50%;
        --primary-light: 250 70% 70%;

        --secondary: 340 70% 60%;
        --secondary-content: 339 71% 10%;
        --secondary-dark: 340 70% 50%;
        --secondary-light: 340 70% 70%;

        --background: 252 16% 94%;
        --foreground: 240 14% 99%;
        --border: 245 17% 88%;

        --content: 249 17% 15%;
        --content-light: 250 18% 40%;
        --content-lighter: 251 17% 55%;

        --success: 120 70% 60%;
        --warning: 60 70% 60%;
        --error: 0 70% 60%;
        --success-content: 120 71% 10%;
        --warning-content: 60 71% 10%;
        --error-content: 0 0% 100%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 253 18% 10%;
        --foreground: 249 17% 15%;
        --border: 248 17% 25%;

        --content: 240 14% 99%;
        --content-light: 249 17% 85%;
        --content-lighter: 252 17% 65%;
    }

    /* Scrollbar Styling */
    ::-webkit-scrollbar {
        @apply h-0 w-0;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-content size-full overflow-hidden;
    }
}

/* @layer base {
    :root {
        --primary: hsl(250, 70%, 60%);
        --primary-content: hsl(0, 0%, 100%);
        --primary-dark: hsl(251, 70%, 50%);
        --primary-light: hsl(250, 70%, 70%);

        --secondary: hsl(340, 70%, 60%);
        --secondary-content: hsl(339, 71%, 10%);
        --secondary-dark: hsl(340, 70%, 50%);
        --secondary-light: hsl(340, 70%, 70%);

        --background: hsl(252, 16%, 94%);
        --foreground: hsl(240, 14%, 99%);
        --border: hsl(245, 17%, 88%);

        --content: hsl(249, 17%, 15%);
        --content-light: hsl(250, 18%, 40%);
        --content-lighter: hsl(251, 17%, 55%);

        --success: hsl(120, 70%, 60%);
        --warning: hsl(60, 70%, 60%);
        --error: hsl(0, 70%, 60%);
        --success-content: hsl(120, 71%, 10%);
        --warning-content: hsl(60, 71%, 10%);
        --error-content: hsl(0, 0%, 100%);

        --radius: 0.5rem;
    }

    .dark {
        --background: hsl(253, 18%, 10%);
        --foreground: hsl(249, 17%, 15%);
        --border: hsl(248, 17%, 25%);

        --content: hsl(240, 14%, 99%);
        --content-light: hsl(249, 17%, 85%);
        --content-lighter: hsl(252, 17%, 65%);
    }
} */
