* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.newFileCard {
    justify-content: center;
    align-items: center;
    aspect-ratio: 16 / 9;
}

.fileTemplateColumn {
    height: max-content;
    display: grid;
}

@media only screen and (min-width: 544px) {
    .fileTemplateColumn {
        grid-template-columns: repeat(2, 1fr);
    }
    .newFileCard {
        aspect-ratio: auto;
    }
}

@media only screen and (min-width: 768px) {
    .fileTemplateColumn {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1024px) {
    .fileTemplateColumn {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1280px) {
    .fileTemplateColumn {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1600px) {
    .fileTemplateColumn {
        grid-template-columns: repeat(4, 1fr);
    }
}

.editor-text-bold {
    font-weight: bold;
}

.editor-text-italic {
    font-style: italic;
}

.editor-text-underline {
    text-decoration: underline;
}

.editor-text-strikethrough {
    text-decoration: line-through;
}
