* {
    margin: 0;
    padding: 0;
}

/* @layer base {
    :root {
        --primary: hsl(250, 70%, 60%);
        --primary-content: hsl(0, 0%, 100%);
        --primary-dark: hsl(251, 70%, 50%);
        --primary-light: hsl(250, 70%, 70%);

        --secondary: hsl(340, 70%, 60%);
        --secondary-content: hsl(339, 71%, 10%);
        --secondary-dark: hsl(340, 70%, 50%);
        --secondary-light: hsl(340, 70%, 70%);

        --background: hsl(252, 16%, 94%);
        --foreground: hsl(240, 14%, 99%);
        --border: hsl(245, 17%, 88%);

        --content: hsl(249, 17%, 15%);
        --content-light: hsl(250, 18%, 40%);
        --content-lighter: hsl(251, 17%, 55%);

        --success: hsl(120, 70%, 60%);
        --warning: hsl(60, 70%, 60%);
        --error: hsl(0, 70%, 60%);
        --success-content: hsl(120, 71%, 10%);
        --warning-content: hsl(60, 71%, 10%);
        --error-content: hsl(0, 0%, 100%);

        --radius: 0.5rem;
    }

    .dark {
        --background: hsl(253, 18%, 10%);
        --foreground: hsl(249, 17%, 15%);
        --border: hsl(248, 17%, 25%);

        --content: hsl(240, 14%, 99%);
        --content-light: hsl(249, 17%, 85%);
        --content-lighter: hsl(252, 17%, 65%);
    }
} */
